<html>
<body background="MyAmazon.jpg">
<h1>Welcome to <b>Nikhil's Amazon</b></h1>
<p>{{ msg }}</p>
<hr>

<h2>Login</h2>
<p style="color: red;">{{ login_msg }}</p>
<form action="/api/user" method="POST">
    <input type="text" name="op_type" value="login" hidden>
    Username : <input type="text" name="username" required><br>
    Password : <input type="password" name="password" required><br>
    <input type="submit" name="Login">
</form>
<hr>

<h2>Sign up</h2>
<p style="color: red;">{{ signup_msg }}</p>
<form action="/api/user" method="POST">
    <input type="text" name="op_type" value="signup" hidden>
    Name : <input type="text" name="name" required><br>
    Email : <input type="email" name="email" required><br>
    Username : <input type="text" name="username" required><br>
    Password : <input type="password" name="password" required><br>
    <input type="submit" name="Sign Up">
</form>
<hr>

<a href="admin.html">Admin</a><br>
</body>>
</html>>